{pre_hooks, [{compile, "../../bin/elixirc -pa ../../_build/default/lib/elixir/ebin --verbose --ignore-module-conflict ../elixir/unicode/unicode.ex -o ../../_build/default/lib/elixir/ebin/"}]}.

{provider_hooks, [{pre, [{app_compile, {ex, compile}}]}]}.

{plugins, [rebar3_elixirc]}.

{ex_opts, #{docs => true, ignore_module_conflict => true,
            debug_info => true, warnings_as_errors => false}}.
